body {
    background-color: #a7dbe3;
    color: whitesmoke;
    font-size: 21px;
}
h1 {
    font-size: 70px;
    color: #3747b3
}
p {
    color: #2f4c5c;
}
/* ceci est mon commentaire sur le CSS Box Model */
/*  Margin;
    Border;
    Paddin;:
*/
.box {
    background: pink;
    width: 400px;

    margin: 100px;
    border: 10px groove rgb(52, 91, 249);
    padding: 50px 100px; 
    /* top right bottom left ou top & bottom right & left */
    /* 400px width + 100px margin + 50x padding + 100px + 100px padding + 10px + 10px border = 770px */
    /*  Margin; empty space ground my element
        Border; a border / stroke / ground my element
        Padding; empty space WITH background around my element
        All of these ADD on top of the width and height
    */
}