body {
    background-color: rgb(1, 73, 38);
    color: rgb(233, 160, 164);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {color: wheat;
    font-family: cursive;
    font-size: 22px;
}
h2 {
    color: rgb(236, 121, 140);
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro {
    font-size: 30px;
    color: rgb(209, 210, 210);
}
.milieu {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: beige;
}
.pre-conclu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 31px;
    color: crimson;
}
.conclu {
    font-family: fantasy;
    font-size: 38px;
    color: azure;
}
.real-conclu {
    font-family: monospace;
    font-size: 13px;
    color: burlywood;
}
.highlight {
    background: rgb(223, 155, 36);
}
.accent-color {
    color: coral;
}
.top-section {
    background: rgb(228, 121, 121);
}
.middle-section {
    background: orchid;
}
#bottom-section {
    background: rgb(127, 84, 84);
}
.bottom-again {
    background: rgb(252, 3, 24);
}
.section-principale {
    background: rgb(75, 32, 227);
}
.avant-fin {
    background: orangered;
}
.finalement {
    background: rebeccapurple;
}
span{
    color: rgb(152, 241, 132);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}